@media screen and (max-width: 1440px) {
	.container {
		main {
			.promo {
				.promo__container {
					padding: 220px 30px 250px 30px;
				}
			}

			.offers {
				padding: 140px 30px;
			}

			.about {
				.about__content {
					.about__subtitle,
					.about__title,
					.about__text {
						text-align: center;
						max-width: 100%;
					}
					.about__button {
						margin: 45px auto 0 auto;
					}
				}

				.about__img {
					height: 505px;
				}
			}
		}
	}
}

@media screen and (max-width: 1330px) {
	.container main .footer {
		flex-wrap: wrap;
		justify-content: space-around;

		.footer__contact {
			order: 1;
			p {
				text-align: center;
			}

			h2 {
				text-align: center;
			}

			.footer__subtitle {
				text-align: center;
			}
		}

		.footer__utility {
			order: 1;
		}

		.footer__contact,
		.footer__utility {
			text-align: center;
			border-left: 1px solid #d5d5d5;
			border-right: 1px solid #d5d5d5;
			padding: 0 40px;
			width: 45%;
			min-width: 300px;
		}

		.footer__about {
			order: 0;
			flex-basis: auto;
			width: -moz-available;
			width: -webkit-fill-available;
			max-width: none;

			.footer__text {
				margin: 44px auto 0 auto;
			}

			border: none;
		}
	}
}

@media screen and (max-width: 1100px) {
	.container {
		main {
			.subscribe {
				.subscribe__content {
					justify-content: center;
					flex-wrap: wrap;
					gap: 30px;
					border-radius: 60px;

					.subscribe__title {
						max-width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1040px) {
	.container {
		.header {
			padding-right: 100px;
			.header__nav {
				.burgerCh:checked ~ .burger .line:nth-of-type(1) {
					transform: rotate(45deg);
					transform-origin: 8px 2px;
					background-color: #fff;
				}

				.burgerCh:checked ~ .burger .line:nth-of-type(2) {
					transform: scaleX(0);
					transform-origin: center;
				}

				.burgerCh:checked ~ .burger .line:nth-of-type(3) {
					transform: rotate(-45deg);
					transform-origin: 0px -1px;
					width: 100%;
					background-color: #fff;
				}

				.burgerCh:checked ~ nav ul {
					transform: translate(0);
				}

				.burger {
					padding: 2px;
					width: 40px;
					height: 30px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					position: fixed;
					z-index: 999;
					top: 20px;
					right: 20px;

					.line {
						width: 100%;
						height: 5px;
						border: solid 1px #fff;
						background-color: $text-color;
						transition: 0.3s linear;
					}
				}

				nav ul {
					padding: 20px 0;
					position: fixed;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					gap: 20px;
					top: 0;
					bottom: 0;
					right: 0;
					background: #274c5bb1;
					backdrop-filter: blur(10px);
					margin: 0;
					z-index: 995;
					width: 300px;
					transform: translateX(200%);
					transition: 0.5s ease;

					li {
						transition: 0.3s linear;
					}
					li .header__link {
						color: #fff;
						padding: 15px 60px;
						width: 100%;
						transition: 0.5s linear;
					}

					li:hover {
						background-color: $text-color;
					}

					li .header__link:hover {
						color: $accent-color;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.container {
		main {
			.promo {
				background: #f2f0f1;
				.promo__container {
					.promo__subtitle,
					.promo__title,
					.promo__button {
						text-align: center;
						margin-left: auto;
						margin-right: auto;
					}

					.promo__title {
						max-width: 700px;
					}
				}
			}

			.offer {
				.offer__head {
					flex-direction: column;
					gap: 30px;

					.offer__titles {
						margin: 0 auto;
						text-align: center;
					}

					.offer__button {
						margin: 0 auto;
					}
				}
			}

			.eco {
				padding: 40px 60px;
				background-size: cover;

				.eco__content {
					margin: 0 auto;
					border-radius: 30px;

					.eco__subtitle,
					.eco__title {
						text-align: center;
						max-width: none;
					}

					.eco__text {
						.eco__text-title {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 866px) {
	.container {
		main {
			.promo {
				.promo__container {
					padding: 220px 60px 250px 60px;
					.promo__title {
						font-size: 56px;
					}
				}
			}

			.offers {
				padding: 140px 60px;
			}

			.about {
				padding: 130px 60px;
				.about__content {
					.about__features {
						.features__item {
							.features__text {
								max-width: none;
								flex: 1;
							}
						}
					}
				}
			}

			.reviews {
				background: #b8b8b832;
				padding: 130px 60px;
			}

			.offer {
				padding: 160px 60px;
			}

			.subscribe {
				padding: 30px 60px;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.container {
		main {
			.footer {
				.footer__contact,
				.footer__utility {
					width: 85%;
				}
			}

			.products__gallery {
				.products__item {
					.products__img {
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 570px) {
	.container {
		.header {
			flex-direction: column;
			gap: 20px;
			padding: 40px 30px;

			.header__nav {
				max-width: none;
				nav {
					ul {
						left: 0;
						width: 100%;
						text-align: center;
						backdrop-filter: blur(20px);
					}
				}
			}
		}
		main {
			.promo {
				.promo__container {
					padding: 120px 60px;
				}
			}

			.offers {
				padding: 100px 60px;

				.offers__container {
					.offers__item {
						.offers__text {
							font-size: 32px;
							max-width: 190px;
							letter-spacing: -1.86px;
						}
					}
				}
			}

			.about {
				.about__content {
					.about__title {
						font-size: 36px;
					}

					.about__text {
						font-size: 16px;
					}

					.about__features {
						.features__item {
							.features__paragraph {
								font-size: 16px;
							}
						}
					}
				}
			}

			.products__gallery {
				.products__item {
					.item__name {
						text-align: center;
					}
					.item__price {
						flex-direction: column;
						gap: 20px;
						.price__left {
							justify-content: space-around;
							width: 100%;
						}
					}
				}
			}

			.reviews {
				padding: 90px 60px;
				.reviews__title {
					font-size: 36px;
				}
			}

			.offer {
				padding: 90px 60px;
				.offer__head {
					.offer__title {
						font-size: 36px;
					}
				}
			}

			.eco {
				.eco__content {
					.eco__title {
						font-size: 36px;
					}
					.eco__text {
						.eco__text-text {
							font-size: 15px;
						}
					}
				}
			}
			.categories {
				padding: 40px 65px;
				.categories__gallery {
					.categories__item {
						max-width: 460px;
					}
				}
			}
			.subscribe {
				.subscribe__content {
					padding: 70px 40px;
					.subscribe__title {
						max-width: 100%;
						text-align: center;
						font-size: 36px;
					}

					.subscribe__form {
						.subscribe__input {
							width: 100%;
							font-size: 0.1em;
							.subscribe__input::placeholder {
								font-size: 1em;
							}
						}
					}
				}
			}
		}
	}
}
