@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container .button {
  padding: 20px 11px 22px 33px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
}
.container .header__left {
  display: flex;
  align-items: center;
}
.container .header__left .header__logo {
  max-width: 200px;
}
.container .header__left .header__logo img {
  width: 100%;
}
.container .header__left .header__nav {
  max-width: 665px;
}
.container .header__left .header__nav nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 120px;
  padding-right: 20px;
  list-style: none;
}
.container .header__left .header__nav nav ul li a {
  display: inline-block;
  padding: 20px 0;
  text-decoration: none;
  color: #274c5b;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
}
.container .header__left .header__nav nav ul li a:hover {
  color: #7eb693;
}
.container .header .header__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 159px;
  padding: 7px 24px 7px 11px;
  border-radius: 33px;
  border: 1px solid #d4d4d4;
  cursor: pointer;
}
.container .header .header__cart a {
  display: inline-block;
  text-decoration: none;
  color: #274c5b;
}
.container .header .header__cart .cart {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: url(../img/Cart.svg) no-repeat, #274c5b;
  background-position: center;
}
.container .header .header__cart .cart__link {
  padding: 15px 0;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.36px;
}
.container .header .header__cart:hover a {
  color: #7eb693;
}
.container .header .header__cart:hover .cart {
  background: url(../img/Cart.svg) no-repeat, #7eb693;
  background-position: center;
}
.container main .promo {
  background: url(../img/Promo_bg.png) no-repeat;
  background-size: cover;
}
.container main .promo .promo__container {
  max-width: 1380px;
  margin: 0 auto;
  padding-top: 220px;
  padding-bottom: 250px;
}
.container main .promo .promo__container .promo__subtitle {
  color: #7eb693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.container main .promo .promo__container .promo__title {
  margin-top: 14px;
  color: #274c5b;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.36px;
  max-width: 496px;
}
.container main .promo .promo__container .promo__button {
  background-color: #efd372;
  margin-top: 55px;
}
.container main .promo .promo__container .promo__button a {
  color: #274c5b;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  text-decoration: none;
}
.container main .offers {
  padding: 140px 0;
}
.container main .offers .offers__container {
  max-width: 1380px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  flex: 1 1;
}
.container main .offers .offers__container .offers__item {
  width: 665px;
  padding: 105px 0 105px 55px;
}
.container main .offers .offers__container .offers__item .offers__subtitle {
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
}
.container main .offers .offers__container .offers__item .offers__text {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.36px;
  max-width: 264px;
}
.container main .offers .offers__container .offers__natural {
  background: url(../img/offers_natural_bg.png) no-repeat;
  background-size: cover;
}
.container main .offers .offers__container .offers__natural .offers__subtitle,
.container main .offers .offers__container .offers__natural .offers__text {
  color: #fff;
}
.container main .offers .offers__container .offers__offer {
  background: url(../img/offers_offer_bg.png) no-repeat;
  background-size: cover;
}
.container main .offers .offers__container .offers__offer .offers__subtitle {
  color: #7eb693;
}
.container main .offers .offers__container .offers__offer .offers__text {
  color: #274c5b;
}
.container main .about {
  padding: 130px 30px 140px 30px;
  display: flex;
  gap: 30px;
  background-color: #f9f8f8;
}
.container main .about .about__img {
  background: url(../img/features_img.png) no-repeat;
  background-size: cover;
  width: 675px;
}
.container main .about .about__content {
  max-width: 675px;
}
.container main .about .about__content .about__subtitle {
  color: #7eb693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.container main .about .about__content .about__title {
  color: #274c5b;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  max-width: 521px;
}
.container main .about .about__content .about__text {
  margin-top: 20px;
  color: #525c60;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
}
.container main .about .about__content .about__features {
  margin-top: 56px;
}
.container main .about .about__content .about__features .features__item {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.container main .about .about__content .about__features .features__item .features__img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background-color: #fff;
}
.container main .about .about__content .about__features .features__item .features__img-first {
  background: url(../img/features1.svg) no-repeat, #fff;
  background-position: center;
}
.container main .about .about__content .about__features .features__item .features__img-second {
  background: url(../img/features2.svg) no-repeat, #fff;
  background-position: center;
}
.container main .about .about__content .about__features .features__item .features__text {
  max-width: 552px;
}
.container main .about .about__content .about__features .features__item .features__subtitle {
  color: #274c5b;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36px;
}
.container main .about .about__content .about__features .features__item .features__paragraph {
  margin-top: 9px;
  color: #525c60;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
}
.container main .about .about__content .about__features .features__item:last-of-type {
  margin-top: 30px;
}
.container main .about .about__content .about__button {
  margin-top: 45px;
  background-color: #274c5b;
}
.container main .about .about__content .about__button a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.container main .products {
  padding: 120px 20px;
}
.container main .products .products__subtitle {
  color: #7eb693;
  text-align: center;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.container main .products .products__title {
  color: #274c5b;
  text-align: center;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.container main .products__gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.container main .products__gallery .products__item {
  border-radius: 30px;
  background: #f9f8f8;
  padding: 30px;
}
.container main .products__gallery .products__item .item__category {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: #274c5b;
}
.container main .products__gallery .products__item .products__img {
  margin: 0 auto;
}
.container main .products__gallery .products__item .item__name {
  margin-top: 19px;
  color: #274c5b;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.36px;
  padding-bottom: 11px;
  border-bottom: solid 2px #d4d4d4;
}
.container main .products__gallery .products__item .item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}
.container main .products__gallery .products__item .item__price .price__left {
  display: flex;
  gap: 10px;
}
.container main .products__gallery .products__item .item__price .price__left .strike__price {
  color: #b8b8b8;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  text-decoration-line: line-through;
}
.container main .products__gallery .products__item .item__price .price__left .price {
  color: #274c5b;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: 0.36px;
}
.container main .reviews {
  background: url(../img/rev_bg.png) no-repeat;
  background-size: cover;
  padding: 130px 170px 140px 170px;
}
.container main .reviews .reviews__subtitle {
  color: #7eb693;
  text-align: center;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.container main .reviews .reviews__title {
  color: #274c5b;
  text-align: center;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.container main .reviews .reviews__avatar {
  margin-top: 60px;
}
.container main .reviews img {
  margin: 0 auto;
  display: block;
  margin-top: 18px;
}
.container main .reviews .reviews__text {
  margin: 0 auto;
  margin-top: 30px;
  color: #525c60;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  max-width: 942px;
}
.container main .reviews .reviews__author {
  margin-top: 23px;
  color: #274c5b;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.8px;
  letter-spacing: 0.36px;
}
.container main .reviews .reviews__author-role {
  color: #525c60;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  padding-bottom: 95px;
  border-bottom: solid 2px #e0e0e0;
}
.container main .reviews .reviews__circles {
  margin-top: 100px;
  display: flex;
  gap: 26px;
  justify-content: center;
}
.container main .reviews .reviews__circles .circles__item {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 6px solid #7eb693;
}
.container main .reviews .reviews__circles .circles__item .circles__wrapper {
  background: #f1f1f1;
  border: 6px solid #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container main .reviews .reviews__circles .circles__item .circles__wrapper .circle__title {
  color: #274c5b;
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 54.6px;
  letter-spacing: 0.36px;
}
.container main .reviews .reviews__circles .circles__item .circles__wrapper .circle__subtitle {
  color: #274c5b;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: 0.36px;
}
.container main .offer {
  padding: 160px 28px;
  background-color: #274c5b;
}
.container main .offer .offer__head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 48px;
}
.container main .offer .offer__head .offer__subtitle {
  font-family: Yellowtail;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #7eb693;
}
.container main .offer .offer__head .offer__title {
  font-family: roboto;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
}
.container main .offer .offer__head .offer__button {
  background-color: #efd372;
}
.container main .offer .offer__head .offer__button a {
  text-decoration: none;
  color: #274c5b;
  font-family: roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.container main .eco {
  padding: 40px 60px 40px 0;
  background: url(../img/Eco__bg.png) no-repeat;
  background-position: left;
}
.container main .eco .eco__content {
  margin-left: auto;
  max-width: 720px;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
  padding: 40px 40px 55px 60px;
}
.container main .eco .eco__content .eco__subtitle {
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #7eb693;
}
.container main .eco .eco__content .eco__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 133%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #274c5b;
  max-width: 310px;
}
.container main .eco .eco__content .eco__text {
  margin-top: 30px;
}
.container main .eco .eco__content .eco__text .eco__text-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #274c5b;
}
.container main .eco .eco__content .eco__text .eco__text-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #525c60;
}
.container main .categories {
  background: #eff6f1;
  padding: 140px 0;
}
.container main .categories .categories__gallery {
  display: flex;
  justify-content: space-between;
}
.container main .categories .categories__gallery .categories__item:nth-of-type(1) {
  background: url(../img/Categories1.png) no-repeat;
}
.container main .categories .categories__gallery .categories__item:nth-of-type(2) {
  background: url(../img/Categories2.png) no-repeat;
}
.container main .categories .categories__gallery .categories__item:nth-of-type(3) {
  background: url(../img/Categories3.png) no-repeat;
}
.container main .categories .categories__gallery .categories__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 580px;
}
.container main .categories .categories__gallery .categories__item .categories__link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #274c5b;
  text-decoration: none;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px 80px;
}
.container main .subscribe {
  padding: 30px;
}
.container main .subscribe .subscribe__content {
  background: url(../img/sub_bg.png) no-repeat;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 70px;
}
.container main .subscribe .subscribe__content .subscribe__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  max-width: 325px;
}
.container main .subscribe .subscribe__content .subscribe__form {
  display: flex;
  gap: 10px;
}
.container main .subscribe .subscribe__content .subscribe__form .subscribe__input {
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 350px;
  height: 82px;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #274c5b;
}
.container main .subscribe .subscribe__content .subscribe__form .subscribe__input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #525c60;
  vertical-align: middle;
}
.container main .subscribe .subscribe__content .subscribe__form .subscribe__button {
  background-color: #274c5b;
  padding: 23px 11px 24px 36px;
  height: 82px;
}
.container main .subscribe .subscribe__content .subscribe__form .subscribe__button a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */