@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$text-color: #274c5b;
$accent-color: #7eb693;

.container {
	max-width: 1440px;
	margin: 0 auto;

	.button {
		padding: 20px 11px 22px 33px;
		display: flex;
		gap: 20px;
		align-items: center;
		border-radius: 16px;
		border: none;
		cursor: pointer;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 30px;

		&__left {
			display: flex;
			align-items: center;

			.header__logo {
				max-width: 200px;

				img {
					width: 100%;
				}
			}

			.header__nav {
				max-width: 665px;

				nav ul {
					display: flex;
					justify-content: space-between;
					gap: 40px;
					padding-left: 120px;
					padding-right: 20px;
					list-style: none;

					li a {
						display: inline-block;
						padding: 20px 0;
						text-decoration: none;
						color: $text-color;
						font-family: Roboto;
						font-size: 19px;
						font-style: normal;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0.36px;
					}

					li a:hover {
						color: $accent-color;
					}
				}
			}
		}

		.header__cart {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			max-width: 159px;
			padding: 7px 24px 7px 11px;
			border-radius: 33px;
			border: 1px solid #d4d4d4;
			cursor: pointer;

			a {
				display: inline-block;
				text-decoration: none;
				color: $text-color;
			}

			.cart {
				height: 56px;
				width: 56px;
				border-radius: 50%;
				background: url(../img/Cart.svg) no-repeat, $text-color;
				background-position: center;
			}

			.cart__link {
				padding: 15px 0;
				font-family: Roboto;
				font-size: 17px;
				font-style: normal;
				font-weight: 400;
				line-height: 28.8px;
				letter-spacing: 0.36px;
			}
		}

		.header__cart:hover {
			a {
				color: $accent-color;
			}

			.cart {
				background: url(../img/Cart.svg) no-repeat, $accent-color;
				background-position: center;
			}
		}
	}

	main {
		.promo {
			background: url(../img/Promo_bg.png) no-repeat;
			background-size: cover;

			.promo__container {
				max-width: 1380px;
				margin: 0 auto;
				padding-top: 220px;
				padding-bottom: 250px;

				.promo__subtitle {
					color: $accent-color;
					font-family: Yellowtail;
					font-size: 36px;
					font-style: normal;
					font-weight: 400;
					line-height: 64.8px;
					letter-spacing: 0.36px;
					text-transform: capitalize;
				}

				.promo__title {
					margin-top: 14px;
					color: $text-color;
					font-family: Roboto;
					font-size: 70px;
					font-style: normal;
					font-weight: 700;
					line-height: 84px;
					letter-spacing: 0.36px;
					max-width: 496px;
				}

				.promo__button {
					background-color: #efd372;
					margin-top: 55px;

					a {
						color: $text-color;
						font-family: Roboto;
						font-size: 19px;
						font-style: normal;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0.36px;
						text-transform: capitalize;
						text-decoration: none;
					}
				}
			}
		}

		.offers {
			padding: 140px 0;

			.offers__container {
				max-width: 1380px;
				display: flex;
				justify-content: center;
				gap: 50px;
				margin: 0 auto;
				flex: 1 1;

				.offers__item {
					width: 665px;
					padding: 105px 0 105px 55px;

					.offers__subtitle {
						font-family: Yellowtail;
						font-size: 36px;
						font-style: normal;
						font-weight: 400;
						line-height: 64.8px;
						letter-spacing: 0.36px;
					}

					.offers__text {
						font-family: Roboto;
						font-size: 40px;
						font-style: normal;
						font-weight: 400;
						line-height: 52px;
						letter-spacing: 0.36px;
						max-width: 264px;
					}
				}

				.offers__natural {
					background: url(../img/offers_natural_bg.png) no-repeat;
					background-size: cover;

					.offers__subtitle,
					.offers__text {
						color: #fff;
					}
				}

				.offers__offer {
					background: url(../img/offers_offer_bg.png) no-repeat;
					background-size: cover;

					.offers__subtitle {
						color: $accent-color;
					}

					.offers__text {
						color: $text-color;
					}
				}
			}
		}

		.about {
			padding: 130px 30px 140px 30px;
			display: flex;
			gap: 30px;
			background-color: #f9f8f8;

			.about__img {
				background: url(../img/features_img.png) no-repeat;
				background-size: cover;
				width: 675px;
			}

			.about__content {
				max-width: 675px;

				.about__subtitle {
					color: $accent-color;
					font-family: Yellowtail;
					font-size: 36px;
					font-style: normal;
					font-weight: 400;
					line-height: 64.8px;
					letter-spacing: 0.36px;
					text-transform: capitalize;
				}

				.about__title {
					color: $text-color;
					font-family: Roboto;
					font-size: 45px;
					font-style: normal;
					font-weight: 700;
					line-height: 58.5px;
					letter-spacing: 0.36px;
					text-transform: capitalize;
					max-width: 521px;
				}

				.about__text {
					margin-top: 20px;
					color: #525c60;
					font-family: 'Open Sans';
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 32.4px;
					letter-spacing: 0.36px;
				}

				.about__features {
					margin-top: 56px;

					.features__item {
						display: flex;
						align-items: center;
						gap: 20px;
						justify-content: space-between;

						.features__img {
							height: 100px;
							width: 100px;
							border-radius: 20px;
							background-color: #fff;
						}

						.features__img-first {
							background: url(../img/features1.svg) no-repeat, #fff;
							background-position: center;
						}

						.features__img-second {
							background: url(../img/features2.svg) no-repeat, #fff;
							background-position: center;
						}

						.features__text {
							max-width: 552px;
						}

						.features__subtitle {
							color: $text-color;
							font-family: Roboto;
							font-size: 25px;
							font-style: normal;
							font-weight: 400;
							line-height: 35px;
							letter-spacing: 0.36px;
						}

						.features__paragraph {
							margin-top: 9px;
							color: #525c60;
							font-family: 'Open Sans';
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: 32.4px;
							letter-spacing: 0.36px;
						}
					}

					.features__item:last-of-type {
						margin-top: 30px;
					}
				}

				.about__button {
					margin-top: 45px;
					background-color: $text-color;

					a {
						text-decoration: none;
						color: #fff;
						font-family: Roboto;
						font-size: 19px;
						font-style: normal;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0.6px;
						text-transform: capitalize;
					}
				}
			}
		}

		.products {
			padding: 120px 20px;

			.products__subtitle {
				color: $accent-color;
				text-align: center;
				font-family: Yellowtail;
				font-size: 36px;
				font-style: normal;
				font-weight: 400;
				line-height: 64.8px;
				letter-spacing: 0.36px;
				text-transform: capitalize;
			}

			.products__title {
				color: $text-color;
				text-align: center;
				font-family: Roboto;
				font-size: 45px;
				font-style: normal;
				font-weight: 700;
				line-height: 58.5px;
				letter-spacing: 0.36px;
				text-transform: capitalize;
			}
		}

		.products__gallery {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			flex-wrap: wrap;
			margin-top: 40px;

			.products__item {
				border-radius: 30px;
				background: #f9f8f8;
				padding: 30px;

				.item__category {
					width: fit-content;
					padding: 5px 20px;
					color: #fff;
					font-family: 'Open Sans';
					font-size: 15px;
					font-style: normal;
					font-weight: 700;
					line-height: 27px;
					letter-spacing: 0.36px;
					border-radius: 8px;
					background: $text-color;
				}

				.products__img {
					margin: 0 auto;
				}

				.item__name {
					margin-top: 19px;
					color: $text-color;
					font-family: Roboto;
					font-size: 22px;
					font-style: normal;
					font-weight: 400;
					line-height: 35.2px;
					letter-spacing: 0.36px;
					padding-bottom: 11px;
					border-bottom: solid 2px #d4d4d4;
				}

				.item__price {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 11px;

					.price__left {
						display: flex;
						gap: 10px;

						.strike__price {
							color: #b8b8b8;
							font-family: 'Open Sans';
							font-size: 17px;
							font-style: normal;
							font-weight: 400;
							line-height: 32.4px;
							letter-spacing: 0.36px;
							text-decoration-line: line-through;
						}

						.price {
							color: $text-color;
							font-family: 'Open Sans';
							font-size: 18px;
							font-style: normal;
							font-weight: 700;
							line-height: 32.4px;
							letter-spacing: 0.36px;
						}
					}
				}
			}
		}

		.reviews {
			background: url(../img/rev_bg.png) no-repeat;
			background-size: cover;
			padding: 130px 170px 140px 170px;

			.reviews__subtitle {
				color: $accent-color;
				text-align: center;
				font-family: Yellowtail;
				font-size: 36px;
				font-style: normal;
				font-weight: 400;
				line-height: 64.8px;
				letter-spacing: 0.36px;
				text-transform: capitalize;
			}

			.reviews__title {
				color: $text-color;
				text-align: center;
				font-family: Roboto;
				font-size: 45px;
				font-style: normal;
				font-weight: 700;
				line-height: 58.5px;
				letter-spacing: 0.36px;
				text-transform: capitalize;
			}

			.reviews__avatar {
				margin-top: 60px;
			}

			img {
				margin: 0 auto;
				display: block;
				margin-top: 18px;
			}

			.reviews__text {
				margin: 0 auto;
				margin-top: 30px;
				color: #525c60;
				text-align: center;
				font-family: 'Open Sans';
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 32.4px;
				letter-spacing: 0.36px;
				max-width: 942px;
			}

			.reviews__author {
				margin-top: 23px;
				color: $text-color;
				text-align: center;
				font-family: Roboto;
				font-size: 26px;
				font-style: normal;
				font-weight: 700;
				line-height: 33.8px;
				letter-spacing: 0.36px;
			}

			.reviews__author-role {
				color: #525c60;
				text-align: center;
				font-family: 'Open Sans';
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 27px;
				letter-spacing: 0.36px;
				padding-bottom: 95px;
				border-bottom: solid 2px #e0e0e0;
			}

			.reviews__circles {
				margin-top: 100px;
				display: flex;
				gap: 26px;
				justify-content: center;

				.circles__item {
					height: 250px;
					width: 250px;
					border-radius: 50%;
					border: 6px solid $accent-color;

					.circles__wrapper {
						background: #f1f1f1;
						border: 6px solid #fff;
						border-radius: 50%;
						height: 100%;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						.circle__title {
							color: $text-color;
							text-align: center;
							font-family: Roboto;
							font-size: 42px;
							font-style: normal;
							font-weight: 700;
							line-height: 54.6px;
							letter-spacing: 0.36px;
						}

						.circle__subtitle {
							color: $text-color;
							text-align: center;
							font-family: 'Open Sans';
							font-size: 18px;
							font-style: normal;
							font-weight: 700;
							line-height: 32.4px;
							letter-spacing: 0.36px;
						}
					}
				}
			}
		}

		.offer {
			padding: 160px 28px;
			background-color: $text-color;

			.offer__head {
				display: flex;
				justify-content: space-between;
				align-items: end;
				margin-bottom: 48px;

				.offer__subtitle {
					font-family: Yellowtail;
					font-weight: 400;
					font-size: 36px;
					line-height: 180%;
					letter-spacing: 0.01em;
					text-transform: capitalize;
					color: $accent-color;
				}

				.offer__title {
					font-family: roboto;
					font-weight: 700;
					font-size: 45px;
					line-height: 130%;
					letter-spacing: 0.01em;
					text-transform: capitalize;
					color: #fff;
				}

				.offer__button {
					background-color: #efd372;
					a {
						text-decoration: none;
						color: $text-color;
						font-family: roboto;
						font-weight: 400;
						font-size: 20px;
						line-height: 160%;
						letter-spacing: 0.02em;
						text-transform: capitalize;
					}
				}
			}
		}

		.eco {
			padding: 40px 60px 40px 0;
			background: url(../img/Eco__bg.png) no-repeat;
			background-position: left;

			.eco__content {
				margin-left: auto;
				max-width: 720px;
				background-color: #fff;
				border-radius: 30px 0 0 30px;
				padding: 40px 40px 55px 60px;

				.eco__subtitle {
					font-family: 'Yellowtail', sans-serif;
					font-weight: 400;
					font-size: 36px;
					line-height: 180%;
					letter-spacing: 0.01em;
					text-transform: capitalize;
					color: $accent-color;
				}

				.eco__title {
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					font-size: 44px;
					line-height: 133%;
					letter-spacing: 0.01em;
					text-transform: capitalize;
					color: $text-color;
					max-width: 310px;
				}

				.eco__text {
					margin-top: 30px;

					.eco__text-title {
						font-family: 'Roboto', sans-serif;
						font-weight: 700;
						font-size: 23px;
						line-height: 140%;
						letter-spacing: 0.02em;
						text-transform: capitalize;
						color: $text-color;
					}

					.eco__text-text {
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						font-size: 18px;
						line-height: 180%;
						letter-spacing: 0.02em;
						color: #525c60;
					}
				}
			}
		}

		.categories {
			background: #eff6f1;
			padding: 140px 0;

			.categories__gallery {
				display: flex;
				justify-content: space-between;

				.categories__item:nth-of-type(1) {
					background: url(../img/Categories1.png) no-repeat;
				}

				.categories__item:nth-of-type(2) {
					background: url(../img/Categories2.png) no-repeat;
				}

				.categories__item:nth-of-type(3) {
					background: url(../img/Categories3.png) no-repeat;
				}

				.categories__item {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 460px;
					height: 580px;

					.categories__link {
						font-family: 'Roboto', sans-serif;
						font-weight: 700;
						font-size: 25px;
						line-height: 140%;
						letter-spacing: 0.01em;
						text-align: center;
						color: $text-color;
						text-decoration: none;
						border-radius: 20px;
						background-color: #fff;
						padding: 30px 80px;
					}
				}
			}
		}

		.subscribe {
			padding: 30px;

			.subscribe__content {
				background: url(../img/sub_bg.png) no-repeat;
				background-size: cover;
				border-radius: 30px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 100px 70px;

				.subscribe__title {
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					font-size: 50px;
					line-height: 120%;
					letter-spacing: 0.01em;
					text-transform: capitalize;
					color: #fff;
					max-width: 325px;
				}

				.subscribe__form {
					display: flex;
					gap: 10px;

					.subscribe__input {
						border: 1px solid #ccc;
						border-radius: 16px;
						width: 350px;
						height: 82px;
						padding-left: 30px;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						font-size: 18px;
						line-height: 160%;
						letter-spacing: 0.02em;
						color: $text-color;
					}

					.subscribe__input::-webkit-input-placeholder {
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						font-size: 18px;
						letter-spacing: 0.02em;
						color: #525c60;
						// line-height: 5px;
						vertical-align: middle;
					}

					.subscribe__button {
						background-color: $text-color;
						padding: 23px 11px 24px 36px;
						height: 82px;
						a {
							font-family: 'Open Sans', sans-serif;
							font-weight: 700;
							font-size: 18px;
							line-height: 160%;
							letter-spacing: 0.02em;
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
		}

		.footer {
			padding: 86px 30px;
			display: flex;
			justify-content: center;
			gap: 20px;

			.footer__contact {
				width: 280px;
				p {
					text-align: right;
				}

				h2 {
					text-align: right;
				}
			}

			.footer__title {
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 30px;
				line-height: 140%;
				letter-spacing: 0.01em;
				color: $text-color;
			}

			.footer__subtitle {
				margin-top: 34px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				font-size: 18px;
				line-height: 130%;
				letter-spacing: 0.02em;
				text-align: right;
				color: #525c60;
			}

			.footer__text {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 160%;
				letter-spacing: 0.02em;
				color: #525c60;
			}

			.footer__about {
				text-align: center;
				max-width: 670px;
				border-left: 1px solid #d5d5d5;
				border-right: 1px solid #d5d5d5;
				padding: 0px 52px 84px 52px;

				.footer__text {
					margin-top: 44px;
					max-width: 570px;
				}

				.footer__icons {
					display: flex;
					gap: 20px;
					justify-content: center;
					margin-top: 60px;

					.icon {
						background-color: #eff6f1;
						border-radius: 50%;
						width: 60px;
						height: 60px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			.footer__utility {
				width: 280px;
				ul {
					margin-top: 20px;
					list-style-type: none;
					li {
						margin-top: 24px;

						.footer__link {
							text-decoration: none;
						}
					}

					li:first-of-type {
						margin-top: 0;
					}
				}
			}
		}
	}
}
